:root {
	box-sizing: border-box;
	--cyber-black: rgb(0, 0, 0);
	--cyber-red: rgb(197, 0, 60);
	--cyber-maroon: rgb(136, 4, 37);
	--cyber-yellow: rgb(243, 230, 0);
	--cyber-blue: rgb(85, 234, 212);
	--cyber-white: rgb(255,255,255);
}


body {
	font-family: 'Noto Sans', Arial, sans-serif;
	background-color: var(--cyber-black);
	color: var(--cyber-white);
}

h1 {
	color: var(--cyber-black);
	text-align: center;
	font-size: 32px;
	background-color: var(--cyber-yellow);
	padding: 10px 0;
}

h2 {
	color: var(--cyber-black);
	background-color: var(--cyber-blue);
	text-align: center;
	font-size: 24px;
	
}

table {
	/*border: 2px solid darkorchid;*/
	width: 80%;
	margin: 0 auto;
	border-collapse: collapse;
	text-align: left;
}

thead {
	background-color: var(--cyber-blue);
	color: var(--cyber-black);
	height: 100px;
	padding:10px 10px;
}

td {
	padding: 10px 10px;
	
}

.code {
	font-family: 'Share Tech Mono', monospace;
	color: var(--cyber-black);
	padding: 10px 10px;
	background-color: var(--cyber-yellow);
}